In [1]:
import pandas as pd
import numpy as np

event = pd.read_csv('events.csv')

order = pd.read_csv('order_items.csv')

/Users/t2023-m0093/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
event

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431958,822590,62906.0,5,12ae51e7-76b3-4560-9335-3ea762eae60e,2022-04-07 01:55:02+00:00,52.92.60.25,St Helens,England,WA9,Firefox,Adwords,/purchase,purchase
2431959,43178,3333.0,5,e472549e-273e-402e-ae5f-38ece25699c2,2023-09-26 10:25:28+00:00,97.78.106.249,Orrell,England,WN5,IE,Email,/purchase,purchase
2431960,553230,42386.0,10,6a7ba027-2af2-46a3-ae05-294a264840cf,2023-07-31 15:11:10+00:00,147.252.137.75,Orrell,England,WN5,Chrome,Facebook,/purchase,purchase
2431961,1015190,77546.0,5,29e5960c-214b-456e-8c38-fe6eb8ff1ec8,2024-01-02 14:26:38+00:00,112.209.120.82,Wolverhampton,England,WV6,Chrome,Adwords,/purchase,purchase
2431962,844526,64551.0,13,9f633088-d2a8-4db2-8a5e-ebd946abce26,2022-09-15 09:55:32+00:00,190.227.140.196,York,England,YO10,Firefox,Email,/purchase,purchase

In [3]:
order

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02
...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00

In [4]:
event.columns

Index(['id', 'user_id', 'sequence_number', 'session_id', 'created_at',
       'ip_address', 'city', 'state', 'postal_code', 'browser',
       'traffic_source', 'uri', 'event_type'],
      dtype='object')

In [5]:
order.columns

Index(['id', 'order_id', 'user_id', 'product_id', 'inventory_item_id',
       'status', 'created_at', 'shipped_at', 'delivered_at', 'returned_at',
       'sale_price'],
      dtype='object')

In [6]:
event.isnull().sum()

id                       0
user_id            1125671
sequence_number          0
session_id               0
created_at               0
ip_address               0
city                 23080
state                    0
postal_code              0
browser                  0
traffic_source           0
uri                      0
event_type               0
dtype: int64

In [7]:
order.isnull().sum()

id                        0
order_id                  0
user_id                   0
product_id                0
inventory_item_id         0
status                    0
created_at                0
shipped_at            63478
delivered_at         117918
returned_at          163527
sale_price                0
dtype: int64

- 구매한 아이템(order_items에서 파악)에는 유저와 상품 정보가 있습니다. 이 중 **event가 발생하지 않은 유저/상품** 쌍이 존재하는지 둘을 merge하여 집계하고 그 비율을 시각화합니다(pie chart)

In [8]:
order

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02
...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00

In [9]:
event

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431958,822590,62906.0,5,12ae51e7-76b3-4560-9335-3ea762eae60e,2022-04-07 01:55:02+00:00,52.92.60.25,St Helens,England,WA9,Firefox,Adwords,/purchase,purchase
2431959,43178,3333.0,5,e472549e-273e-402e-ae5f-38ece25699c2,2023-09-26 10:25:28+00:00,97.78.106.249,Orrell,England,WN5,IE,Email,/purchase,purchase
2431960,553230,42386.0,10,6a7ba027-2af2-46a3-ae05-294a264840cf,2023-07-31 15:11:10+00:00,147.252.137.75,Orrell,England,WN5,Chrome,Facebook,/purchase,purchase
2431961,1015190,77546.0,5,29e5960c-214b-456e-8c38-fe6eb8ff1ec8,2024-01-02 14:26:38+00:00,112.209.120.82,Wolverhampton,England,WV6,Chrome,Adwords,/purchase,purchase
2431962,844526,64551.0,13,9f633088-d2a8-4db2-8a5e-ebd946abce26,2022-09-15 09:55:32+00:00,190.227.140.196,York,England,YO10,Firefox,Email,/purchase,purchase

In [10]:
merged_df = pd.merge(order, event, on='user_id', how='left', suffixes=('_order', '_event')) 
# 충돌하는 열의 이름을 구분하기 위해 각 열에 '_order' 또는 '_event'를 추가 

merged_df

,id_order,order_id,user_id,product_id,inventory_item_id,status,created_at_order,shipped_at,delivered_at,returned_at,...,session_id,created_at_event,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 05:00:46+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/purchase,purchase
1,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 04:53:26+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/home,home
2,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,bb7c47d2-78cd-4999-8462-289f6dc9ace4,2023-05-07 06:07:36+00:00,148.51.229.201,Jinhua,Hebei,74199,Chrome,Adwords,/purchase,purchase
3,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,17710bad-b0be-4b4d-9a86-680b4ebada0e,2023-04-09 05:23:27+00:00,189.41.163.40,Jinhua,Hebei,74199,Firefox,YouTube,/purchase,purchase
4,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,633e2a3f-17f2-4e5e-9a64-d6458f10e3dc,2023-10-20 04:37:10+00:00,112.61.115.125,Jinhua,Hebei,74199,Safari,Email,/purchase,purchase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4986924,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,1ff16ca1-1243-4dc1-b4fe-5a63011c5b43,2021-02-27 11:06:00+00:00,86.137.234.183,NaN,Paraná,84600-000,Chrome,Adwords,/cart,cart
4986925,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,5a6a6204-156c-4df1-9b75-c9dd4b9f19d6,2021-02-27 08:11:27+00:00,15.189.16.240,NaN,Paraná,84600-000,Firefox,Email,/product/17354,product
4986926,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,1ff16ca1-1243-4dc1-b4fe-5a63011c5b43,2021-02-27 10:52:45+00:00,86.137.234.183,NaN,Paraná,84600-000,Chrome,Adwords,/department/men/category/pants/brand/dockers,department
4986927,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,9d43278a-bcd9-4bbb-b2f4-6cdefe355431,2021-03-03 10:55:21+00:00,79.215.112.61,NaN,Paraná,84600-000,Firefox,Email,/purchase,purchase
4986928,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,9d43278a-bcd9-4bbb-b2f4-6cdefe355431,2021-02-27 10:53:00+00:00,79.215.112.61,NaN,Paraná,84600-000,Firefox,Email,/cart,cart

In [11]:
merged_df.columns

Index(['id_order', 'order_id', 'user_id', 'product_id', 'inventory_item_id',
       'status', 'created_at_order', 'shipped_at', 'delivered_at',
       'returned_at', 'sale_price', 'id_event', 'sequence_number',
       'session_id', 'created_at_event', 'ip_address', 'city', 'state',
       'postal_code', 'browser', 'traffic_source', 'uri', 'event_type'],
      dtype='object')

In [12]:
missing_events_df = merged_df[merged_df['event_type'].isna()]

# 'event'가 발생하지 않은 유저/상품 쌍을 출력
print(missing_events_df[['user_id', 'product_id']])

Empty DataFrame
Columns: [user_id, product_id]
Index: []

In [13]:
# 'event_type'이 NaN도 아니고 빈 값도 아닌 행을 찾음
valid_events_df = merged_df[merged_df['event_type'].notna()]


print(valid_events_df)

         id_order  order_id  user_id  product_id  inventory_item_id  \
0          152013    104663    83582       14235             410368
1          152013    104663    83582       14235             410368
2          152013    104663    83582       14235             410368
3          152013    104663    83582       14235             410368
4          152013    104663    83582       14235             410368
...           ...       ...      ...         ...                ...
4986924    143759     98984    78981       24447             388091
4986925    143759     98984    78981       24447             388091
4986926    143759     98984    78981       24447             388091
4986927    143759     98984    78981       24447             388091
4986928    143759     98984    78981       24447             388091

            status           created_at_order                 shipped_at  \
0        Cancelled  2023-05-07 06:08:40+00:00                        NaN
1        Cancelled  2023-05-07 06:08:40+00:00                        NaN
2        Cancelled  2023-05-07 06:08:40+00:00                        NaN
3        Cancelled  2023-05-07 06:08:40+00:00                        NaN
4        Cancelled  2023-05-07 06:08:40+00:00                        NaN
...            ...                        ...                        ...
4986924    Shipped  2022-03-13 10:29:49+00:00  2022-03-14 01:27:00+00:00
4986925    Shipped  2022-03-13 10:29:49+00:00  2022-03-14 01:27:00+00:00
4986926    Shipped  2022-03-13 10:29:49+00:00  2022-03-14 01:27:00+00:00
4986927    Shipped  2022-03-13 10:29:49+00:00  2022-03-14 01:27:00+00:00
4986928    Shipped  2022-03-13 10:29:49+00:00  2022-03-14 01:27:00+00:00

        delivered_at returned_at  ...                            session_id  \
0                NaN         NaN  ...  a7760808-a283-49e8-b3c4-53929b9c37f9
1                NaN         NaN  ...  a7760808-a283-49e8-b3c4-53929b9c37f9
2                NaN         NaN  ...  bb7c47d2-78cd-4999-8462-289f6dc9ace4
3                NaN         NaN  ...  17710bad-b0be-4b4d-9a86-680b4ebada0e
4                NaN         NaN  ...  633e2a3f-17f2-4e5e-9a64-d6458f10e3dc
...              ...         ...  ...                                   ...
4986924          NaN         NaN  ...  1ff16ca1-1243-4dc1-b4fe-5a63011c5b43
4986925          NaN         NaN  ...  5a6a6204-156c-4df1-9b75-c9dd4b9f19d6
4986926          NaN         NaN  ...  1ff16ca1-1243-4dc1-b4fe-5a63011c5b43
4986927          NaN         NaN  ...  9d43278a-bcd9-4bbb-b2f4-6cdefe355431
4986928          NaN         NaN  ...  9d43278a-bcd9-4bbb-b2f4-6cdefe355431

                  created_at_event      ip_address    city   state  \
0        2023-05-13 05:00:46+00:00  153.38.230.210  Jinhua   Hebei
1        2023-05-13 04:53:26+00:00  153.38.230.210  Jinhua   Hebei
2        2023-05-07 06:07:36+00:00  148.51.229.201  Jinhua   Hebei
3        2023-04-09 05:23:27+00:00   189.41.163.40  Jinhua   Hebei
4        2023-10-20 04:37:10+00:00  112.61.115.125  Jinhua   Hebei
...                            ...             ...     ...     ...
4986924  2021-02-27 11:06:00+00:00  86.137.234.183     NaN  Paraná
4986925  2021-02-27 08:11:27+00:00   15.189.16.240     NaN  Paraná
4986926  2021-02-27 10:52:45+00:00  86.137.234.183     NaN  Paraná
4986927  2021-03-03 10:55:21+00:00   79.215.112.61     NaN  Paraná
4986928  2021-02-27 10:53:00+00:00   79.215.112.61     NaN  Paraná

        postal_code  browser traffic_source  \
0             74199   Chrome        Adwords
1             74199   Chrome        Adwords
2             74199   Chrome        Adwords
3             74199  Firefox        YouTube
4             74199   Safari          Email
...             ...      ...            ...
4986924   84600-000   Chrome        Adwords
4986925   84600-000  Firefox          Email
4986926   84600-000   Chrome        Adwords
4986927   84600-000  Firefox          Email
4986928   84600-000  Firefox          Email

                                                  uri  event_type
0                                           /purchase    purchase
1                                               /home        home
2                                           /purchase    purchase
3                                           /purchase    purchase
4                                           /purchase    purchase
...                                               ...         ...
4986924                                         /cart        cart
4986925                                /product/17354     product
4986926  /department/men/category/pants/brand/dockers  department
4986927                                     /purchase    purchase
4986928                                         /cart        cart

[4986929 rows x 23 columns]

In [14]:
missing_events_df.to_csv('missing_events.csv',index=False)

In [15]:
valid_events_df.to_csv('valid_events.csv', index=False)

In [16]:
merged_df = pd.merge(order, event, on='user_id', suffixes=('_order', '_event')) 
# 충돌하는 열의 이름을 구분하기 위해 각 열에 '_order' 또는 '_event'를 추가 
merged_df

,id_order,order_id,user_id,product_id,inventory_item_id,status,created_at_order,shipped_at,delivered_at,returned_at,...,session_id,created_at_event,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 05:00:46+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/purchase,purchase
1,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,a7760808-a283-49e8-b3c4-53929b9c37f9,2023-05-13 04:53:26+00:00,153.38.230.210,Jinhua,Hebei,74199,Chrome,Adwords,/home,home
2,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,bb7c47d2-78cd-4999-8462-289f6dc9ace4,2023-05-07 06:07:36+00:00,148.51.229.201,Jinhua,Hebei,74199,Chrome,Adwords,/purchase,purchase
3,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,17710bad-b0be-4b4d-9a86-680b4ebada0e,2023-04-09 05:23:27+00:00,189.41.163.40,Jinhua,Hebei,74199,Firefox,YouTube,/purchase,purchase
4,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,...,633e2a3f-17f2-4e5e-9a64-d6458f10e3dc,2023-10-20 04:37:10+00:00,112.61.115.125,Jinhua,Hebei,74199,Safari,Email,/purchase,purchase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4986924,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,1ff16ca1-1243-4dc1-b4fe-5a63011c5b43,2021-02-27 11:06:00+00:00,86.137.234.183,NaN,Paraná,84600-000,Chrome,Adwords,/cart,cart
4986925,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,5a6a6204-156c-4df1-9b75-c9dd4b9f19d6,2021-02-27 08:11:27+00:00,15.189.16.240,NaN,Paraná,84600-000,Firefox,Email,/product/17354,product
4986926,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,1ff16ca1-1243-4dc1-b4fe-5a63011c5b43,2021-02-27 10:52:45+00:00,86.137.234.183,NaN,Paraná,84600-000,Chrome,Adwords,/department/men/category/pants/brand/dockers,department
4986927,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,9d43278a-bcd9-4bbb-b2f4-6cdefe355431,2021-03-03 10:55:21+00:00,79.215.112.61,NaN,Paraná,84600-000,Firefox,Email,/purchase,purchase
4986928,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,...,9d43278a-bcd9-4bbb-b2f4-6cdefe355431,2021-02-27 10:53:00+00:00,79.215.112.61,NaN,Paraná,84600-000,Firefox,Email,/cart,cart

# event & order_details 합친 csv 파일 만들기

In [17]:
event

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431958,822590,62906.0,5,12ae51e7-76b3-4560-9335-3ea762eae60e,2022-04-07 01:55:02+00:00,52.92.60.25,St Helens,England,WA9,Firefox,Adwords,/purchase,purchase
2431959,43178,3333.0,5,e472549e-273e-402e-ae5f-38ece25699c2,2023-09-26 10:25:28+00:00,97.78.106.249,Orrell,England,WN5,IE,Email,/purchase,purchase
2431960,553230,42386.0,10,6a7ba027-2af2-46a3-ae05-294a264840cf,2023-07-31 15:11:10+00:00,147.252.137.75,Orrell,England,WN5,Chrome,Facebook,/purchase,purchase
2431961,1015190,77546.0,5,29e5960c-214b-456e-8c38-fe6eb8ff1ec8,2024-01-02 14:26:38+00:00,112.209.120.82,Wolverhampton,England,WV6,Chrome,Adwords,/purchase,purchase
2431962,844526,64551.0,13,9f633088-d2a8-4db2-8a5e-ebd946abce26,2022-09-15 09:55:32+00:00,190.227.140.196,York,England,YO10,Firefox,Email,/purchase,purchase

In [18]:
order

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02
...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00

In [19]:
merged_df = pd.merge(event, order, on='user_id', how='inner')


print(merged_df)

            id_x  user_id  sequence_number  \
0         458138  35092.0                3
1         458138  35092.0                3
2         458138  35092.0                3
3         458138  35092.0                3
4         458138  35092.0                3
...          ...      ...              ...
4986924  1015190  77546.0                5
4986925   844526  64551.0               13
4986926   844526  64551.0               13
4986927   844526  64551.0               13
4986928   844526  64551.0               13

                                   session_id               created_at_x  \
0        e24636ad-3949-4174-bd09-4e2ae7a95aa3  2022-08-01 01:10:20+00:00
1        e24636ad-3949-4174-bd09-4e2ae7a95aa3  2022-08-01 01:10:20+00:00
2        e24636ad-3949-4174-bd09-4e2ae7a95aa3  2022-08-01 01:10:20+00:00
3        e24636ad-3949-4174-bd09-4e2ae7a95aa3  2022-08-01 01:10:20+00:00
4        e24636ad-3949-4174-bd09-4e2ae7a95aa3  2022-08-01 01:10:20+00:00
...                                       ...                        ...
4986924  29e5960c-214b-456e-8c38-fe6eb8ff1ec8  2024-01-02 14:26:38+00:00
4986925  9f633088-d2a8-4db2-8a5e-ebd946abce26  2022-09-15 09:55:32+00:00
4986926  9f633088-d2a8-4db2-8a5e-ebd946abce26  2022-09-15 09:55:32+00:00
4986927  9f633088-d2a8-4db2-8a5e-ebd946abce26  2022-09-15 09:55:32+00:00
4986928  9f633088-d2a8-4db2-8a5e-ebd946abce26  2022-09-15 09:55:32+00:00

              ip_address           city     state postal_code  browser  ...  \
0         92.212.103.243        Sapporo  Hokkaido    003-0030   Chrome  ...
1         92.212.103.243        Sapporo  Hokkaido    003-0030   Chrome  ...
2         92.212.103.243        Sapporo  Hokkaido    003-0030   Chrome  ...
3         92.212.103.243        Sapporo  Hokkaido    003-0030   Chrome  ...
4         92.212.103.243        Sapporo  Hokkaido    003-0030   Chrome  ...
...                  ...            ...       ...         ...      ...  ...
4986924   112.209.120.82  Wolverhampton   England         WV6   Chrome  ...
4986925  190.227.140.196           York   England        YO10  Firefox  ...
4986926  190.227.140.196           York   England        YO10  Firefox  ...
4986927  190.227.140.196           York   England        YO10  Firefox  ...
4986928  190.227.140.196           York   England        YO10  Firefox  ...

           id_y order_id product_id  inventory_item_id      status  \
0         63669    43829       9111             171786    Returned
1         63668    43828       5517             171784     Shipped
2         63667    43827        732             171781   Cancelled
3         63666    43826      10795             171778  Processing
4         63670    43829      14476             171788    Returned
...         ...      ...        ...                ...         ...
4986924  141173    97171       4306             381093     Shipped
4986925  117521    80945      25859             317159  Processing
4986926  117519    80945      25687             317153  Processing
4986927  117522    80945      19292             317161  Processing
4986928  117520    80945      19283             317157  Processing

                      created_at_y                 shipped_at  \
0        2022-08-04 23:24:24+00:00  2022-08-04 02:12:00+00:00
1        2022-09-07 00:53:01+00:00  2022-09-08 10:50:00+00:00
2        2022-05-23 23:13:42+00:00                        NaN
3        2023-12-01 02:09:45+00:00                        NaN
4        2022-08-02 01:20:26+00:00  2022-08-04 02:12:00+00:00
...                            ...                        ...
4986924  2022-02-25 14:50:34+00:00  2022-02-24 06:24:00+00:00
4986925  2022-09-17 13:18:04+00:00                        NaN
4986926  2022-09-17 10:40:39+00:00                        NaN
4986927  2022-09-15 09:55:32+00:00                        NaN
4986928  2022-09-16 13:14:07+00:00                        NaN

                      delivered_at                returned_at  sale_price
0        2022-08-08 01:25:00+00:00  2022-08-09 12:27:00+00:00    9.700000
1                              NaN                        NaN   14.170000
2                              NaN                        NaN   14.400000
3                              NaN                        NaN   16.950001
4        2022-08-08 01:25:00+00:00  2022-08-09 12:27:00+00:00   24.980000
...                            ...                        ...         ...
4986924                        NaN                        NaN   34.990002
4986925                        NaN                        NaN   17.000000
4986926                        NaN                        NaN   32.950001
4986927                        NaN                        NaN   49.990002
4986928                        NaN                        NaN  250.000000

[4986929 rows x 23 columns]

In [20]:
merged_df.to_csv('event_order_merge.csv',index=False)

In [21]:
event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2431963 entries, 0 to 2431962
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   user_id          float64
 2   sequence_number  int64
 3   session_id       object
 4   created_at       object
 5   ip_address       object
 6   city             object
 7   state            object
 8   postal_code      object
 9   browser          object
 10  traffic_source   object
 11  uri              object
 12  event_type       object
dtypes: float64(1), int64(2), object(10)
memory usage: 241.2+ MB

In [22]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181759 entries, 0 to 181758
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 181759 non-null  int64
 1   order_id           181759 non-null  int64
 2   user_id            181759 non-null  int64
 3   product_id         181759 non-null  int64
 4   inventory_item_id  181759 non-null  int64
 5   status             181759 non-null  object
 6   created_at         181759 non-null  object
 7   shipped_at         118281 non-null  object
 8   delivered_at       63841 non-null   object
 9   returned_at        18232 non-null   object
 10  sale_price         181759 non-null  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 15.3+ MB

In [23]:
event.notna().sum()

id                 2431963
user_id            1306292
sequence_number    2431963
session_id         2431963
created_at         2431963
ip_address         2431963
city               2408883
state              2431963
postal_code        2431963
browser            2431963
traffic_source     2431963
uri                2431963
event_type         2431963
dtype: int64

In [24]:
event

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431958,822590,62906.0,5,12ae51e7-76b3-4560-9335-3ea762eae60e,2022-04-07 01:55:02+00:00,52.92.60.25,St Helens,England,WA9,Firefox,Adwords,/purchase,purchase
2431959,43178,3333.0,5,e472549e-273e-402e-ae5f-38ece25699c2,2023-09-26 10:25:28+00:00,97.78.106.249,Orrell,England,WN5,IE,Email,/purchase,purchase
2431960,553230,42386.0,10,6a7ba027-2af2-46a3-ae05-294a264840cf,2023-07-31 15:11:10+00:00,147.252.137.75,Orrell,England,WN5,Chrome,Facebook,/purchase,purchase
2431961,1015190,77546.0,5,29e5960c-214b-456e-8c38-fe6eb8ff1ec8,2024-01-02 14:26:38+00:00,112.209.120.82,Wolverhampton,England,WV6,Chrome,Adwords,/purchase,purchase
2431962,844526,64551.0,13,9f633088-d2a8-4db2-8a5e-ebd946abce26,2022-09-15 09:55:32+00:00,190.227.140.196,York,England,YO10,Firefox,Email,/purchase,purchase

In [25]:
order

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02
...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00

In [26]:
# 'user_id' 열의 데이터 유형을 일치시킴
order_df['user_id'] = order_df['user_id'].astype(int)
event_df['user_id'] = event_df['user_id'].astype(int)

NameError: name 'order_df' is not defined

In [ ]:
order['user_id'] = order['user_id'].astype(str)
event['user_id'] = event['user_id'].astype(str)

In [ ]:
order_str = order['user_id']
order_str

In [ ]:
order['user_id'] = order['user_id'].astype(str)
event['user_id'] = event['user_id'].astype(str)

In [ ]:
order.to_csv('order_str.csv',index=False)

In [ ]:
event.to_csv('event_str.csv',index=False)

In [ ]:
order['status'].value_counts()

In [ ]:
order.columns

In [ ]:
event.columns

In [27]:
event['event_type'].isnull().sum()

0

In [28]:
event['event_type'].unique()

array(['cancel', 'cart', 'department', 'home', 'product', 'purchase'],
      dtype=object)

- 가능하면 구매 시각과 event 시각을 고려하여, **구매 시각 이전에 event가 발생하였는지** 확인합니다

In [ ]:
event['event_type'] =='product'

In [ ]:
event_pro = event[event['event_type'] == 'product']
event_pro
# uri열에 상품 id가 포함돼있다.